CompileFlags:
  CompilationDatabase: c:\Users\chrfav01\benchresults\cmsis-all-ops-test\out\debug\AE722F80F55D5LS\Debug
  Add:
    - -include
    - c:\Users\chrfav01\benchresults\cmsis-all-ops-test\out\debug\AE722F80F55D5LS\Debug\compile_macros.h
